*.arm_iface_gcc_dep
*.arm_iface_gcc_o
*.arm_vverb_gcc_dep
Makefile.depend*
*.a
*.a.fresh
*.so
stat-manager/stat-manager
stat-manager/stat-sample
stat-manager/stat-collapse
*.o
*.d
*_o
*_dep
*.a
*_gcc
*stat-*
*.a
*_gcc
*stat-*
*.fresh
*.so
*stats_o
stat-manager/stat-manager
stat-manager/stat-sample
stat-manager/stat-collapse
CMakeFiles/
CMakeCache.txt
Makefile
cmake_install.cmake
tags
boost_*
tmp*
temp*
